html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
a :hover {
  text-decoration: none;
}

header {
  color: white;
  height: 700px;
  background-position: center;
  background-image: url("../assets/headerBackground.png");
}
header a {
  color: white;
  position: relative;
}
header :hover {
  text-decoration: none;
  color: white;
}

.start-menu-wrap {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  place-items: center;
  
}


.start-menu-item {
  flex-basis: 6%;
  text-align: center;
  font-size: 0.875rem;
}
.start-menu-item a::before {
  content: "";
  bottom: 0;
  left: 0%;
  width: 0;
  position: absolute;
  background-color: white;
  height: 1px;
  transition: 0.2s;
}
.start-menu-item a:hover:before {
  width: 100%;
}
.sticky-nav {
  display: flex;
  position: fixed;
  color: black;
  background-color: rgb(34, 32, 32);
  opacity: 0.4;
  width: 100%;
  z-index: 5;
}

.startup {
  flex-basis: 45%;
  text-align: initial;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-title {
  text-align: center;
  place-items: center;
  display: grid;
  padding-top: 12%;
}
.header-title h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.header-title p {
  margin-top: 1%;
  font-weight: bold;
}
.header-title div {
  margin-top: 1rem;
  border: solid 2px white;
  padding: 1% 3%;
  font-size: bold;
  text-transform: uppercase;
}

section {
  color: #8b8b8b;
}

.section-breaker {
  text-align: center;
  margin-top: 4%;
}
.section-breaker p {
  margin-top: 1%;
  font-size: 1rem;
}
.section-breaker h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
}

.horizontal-line {
  border: #8b8b8b solid 2px;
  width: 4%;
  place-items: center;
  display: inline-block;
}

.service-content-cards {
  margin: 5% 5% 0 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-items: center;
}

.circle-block {
  display: flex;
  border: #dddddd solid 2px;
  border-radius: 50%;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
 

}
.circle-block img {
  padding: 18% 19%;
}
.circle-block h3 {
  margin-top: 5%;
  text-transform: uppercase;
}

.service-content-text {
  margin: 1.5% 5% 0 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
}
.service-content-text h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
.service-content-text p {
  font-size: 0.8rem;
  font-weight: 500;
}

#red {
  background-color: #c0301c;
}

.about-us {
  padding-bottom: 5%;
  margin-top: 7%;
  background-color: #eeeaea;
}
.about-us .section-breaker {
  padding-top: 7%;
}
.about-us p {
  font-size: 1rem;
}

.about-us-text {
  margin: 3% 5% 0 5%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.about-us-text p {
  font-size: 0.875rem;
}

.team-photos {
  gap: 1rem;
  margin: 3% 5% 0 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.team-photos-item {
  position: relative;
  height: 250px;
  background-repeat: no-repeat;
}

.background-image {
  padding: 0 0 8% 33%;
  display: flex;
  place-items: flex-end;
  gap: 7%;
  height: 255px;
  width: 0px;
  position: absolute;
  top: 0;
  background-color: #96969673;
  visibility: hidden;
  transition: 0.3s;
}
.background-image a {
  padding: 20%;
}

.team-photos-item:hover .background-image {
  visibility: visible;
  width: 264px;
  transition: 0.2s;
}

.background-image a:hover {
  background-color: #c0301c;
}

.team-members-names {
  text-align: center;
  margin-top: 5%;
  padding-bottom: 0%;
}
.team-members-names h4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
}
.team-members-names p {
  font-size: 0.8125rem;
}

.latest-works {
  margin: 6% 5% 0 5%;
}

.latest-works-links {
  display: flex;
  justify-content: center;
  gap: 2%;
  margin-top: 1%;
}
.latest-works-links a {
  text-decoration: none;
  color: #8b8b8b;
}
.latest-works-links a:hover {
  color: #c44637;
}

.latest-works-examples {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  place-items: center;
  gap: 4rem;
}

.example-cards {
  background-position: center;
  background-repeat: no-repeat;
  width: 360px;
  height: 320px;
}

.card1 {
  background-image: url("../assets/hairdryer.png");
}

.card2 {
  background-image: url("../assets/pigeon.png");
}

.card3 {
  background-image: url("../assets/acesories.png");
}

.card4 {
  background-image: url("../assets/camers.png");
}

.card5 {
  background-image: url("../assets/bicyckle.png");
}

.card6 {
  background-image: url("../assets/notepad.png");
}

.card7 {
  background-image: url("../assets/laptop.png");
}

.card8 {
  background-image: url("../assets/somestuff.png");
}

.card9 {
  background-image: url("../assets/events.png");
}

.example-hover {
  color: white;
  background-color: #ca645b81;
  text-align: center;
  height: 0px;
  padding-top: 33%;
  visibility: hidden;
  transition: 0.3s;
}
.example-hover h6 {
  font-size: 1.125rem;
  font-weight: 700;
}
.example-hover p {
  font-size: 0.75rem;
}
.example-hover a {
  color: #c44637;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-color: white;
  font-weight: 700;
  padding: 2%;
}

.example-hover a:hover {
  text-decoration: none;
}

.example-cards:hover .example-hover {
  visibility: visible;
  height: 320px;
}

.our-work {
  background-image: url("../assets/about us.png");
  height: 370px;
  margin-top: 7%;
  width: 100%;
  background-position: 40% 72%;
  display: flex;
  color: white;
  font-weight: 700;
  text-align: center;
  place-items: center;
  justify-content: center;
  background-color: #c1615021;
}

.our-work-text {
  background-color: #c161506e;
  padding: 8% 32%;
}
.our-work-text h4 {
  font-size: 1.875rem;
}
.our-work-text p {
  margin-top: 7%;
}
.our-work-text a {
  color: white;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 3%;
  margin-top: 3%;
}

.our-work-text a:hover {
  text-decoration: none;
}

.blog-container {
  margin: 5% 11% 0 11%;
  display: grid;
  grid-template-columns: minmax(350px, 1fr) 1fr;
  gap: 3rem;
}

.blog-text {
  display: grid;
  gap: 0.5rem;
}
.blog-text a {
  color: #8b8b8b;
}
.blog-text a:hover {
  text-decoration: none;
  color: #dd6b56;
}

.date-wrap {
  grid-column: 1/1;
  grid-row: 1/3;
  border: solid 2px black;
  place-items: center;
  gap: 0;
  padding-top: 8%;
}
.date-wrap .date {
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
}

.month {
  font-size: 0.8rem;
  text-align: center;
  grid-column: 1/1;
  grid-row: 2/2;
}

.blog-header {
  grid-row: 1/1;
  grid-column: 2/12;
  display: inline;
  text-transform: uppercase;
  margin-left: 3%;
}

.blog-author {
  grid-row: 2/2;
  grid-column: 2/12;
  font-style: italic;
  font-size: 0.8rem;
  margin: 0 0 2% 3%;
}

.blog-container-text {
  grid-row: 3/5;
  grid-column: 1/12;
}

.blog-read-more {
  grid-row: 5/7;
  grid-column: 1/3;
}

.blog-read-more {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

.partners {
  background-color: #e9e1e1;
}

.partners-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 7% 0 0 0;
  justify-content: center;
  gap: 3rem;
  align-items: baseline;
  padding-top: 6%;
}

.partners-text {
  text-align: center;
  margin-top: 5%;
  font-style: italic;
  color: #8b8b8b;
  font-size: 1.125rem;
}
.partners-text div {
  margin: 1%;
}

#john {
  font-style: normal;
  font-size: 1.5rem;
  margin-top: 2rem;
  padding-bottom: 4%;
}

.get-in-touch {
  display: grid;
  grid-template-columns: 2fr 8fr;
  margin: 3% 7% 0 7%;
  color: #8b8b8b;
}
.get-in-touch a {
  color: #8b8b8b;
}
.get-in-touch a:hover {
  text-decoration: none;
  color: #dd6b56;
}

.info-text-image-container {
  align-items: baseline;
}

.info-wrap-image {
  display: inline-block;
}

.info-wrap-image-text {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin-left: 2%;
}

#bottom {
  margin-top: 6%;
}

.info-wrap-text {
  margin: 3% 0 0 8%;
  color: #8b8b8b;
}

.get-in-touch-right-container {
  margin-left: 12%;
}

form {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  gap: 1rem;
}

.input {
  flex: 1 1 250px;
  margin: 0 0 0 1%;
  width: 100%;
}

input {
  width: 100%;
  height: 40px;
  border: 2px #8b8b8b solid;
}

input:focus {
  border: 2px solid #32a4c7;
}

#write-message {
  width: 100%;
  height: 50%;
  border: 2px #8b8b8b solid;
}

.box4 {
  flex: 100%;
}

.box5 {
  flex: 1 1 20px;
}
.box5 a {
  text-transform: uppercase;
  border: solid 2px #8b8b8b;
  padding: 4%;
  font-weight: 700;
}

.box6 {
  font-size: 0.8rem;
  margin: 0 auto;
}
.box6 span {
  color: #dd6b56;
}

footer {
  background-color: #c0301c;
  margin-top: 7%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
}
footer .horizontal-line {
  border: white solid 2px;
  margin-top: 3%;
}
footer #copyright {
  margin-top: 2%;
  padding-bottom: 7%;
}

.footer-wrap {
  color: white;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 7%;
}
.footer-wrap div {
  border: 3px solid white;
  border-radius: 50%;
  padding: 0.5% 1%;
}

@media screen and (max-width: 800px) {
  .startup {
    flex-basis: 10%;
  }

  .start-menu-wrap {
    gap: 0.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .blog-container {
    grid-template: 1fr/1fr;
  }

  .blog-text {
    margin: 7% 0 0 0;
  }
}
@media screen and (max-width: 800px) {
  .team-photos {
    place-items: center;
  }
}